.pollen
{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

.pollen-low
{
	color: green;
}

.pollen-lowmedium
{
	color: greenyellow;
}

.pollen-medium
{
	color: yellow;
}

.pollen-mediumhigh
{
	color: orange;
}

.pollen-high
{
	color: red;
}

.pollen-padding
{
	padding-left: 5px;
	padding-right: 5px;
}